/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
src/Commands/Test.php
src/Concerns/ConcernsAutoIncrements.php
src/Concerns/ConcernsGroupUuids.php
src/CubeServiceProvider.php
src/Models/Affiliate.php
src/Models/Authorization.php
src/Models/Category.php
src/Models/Client.php
src/Models/Country.php
src/Models/Group.php
src/Models/Locale.php
src/Models/OpenAIPrompt.php
src/Models/Question.php
src/Models/Questionnaire.php
src/Models/QuestionWidget.php
src/Models/QuestionWidgetConditional.php
src/Models/Response.php
src/Models/Tag.php
src/Models/User.php
src/Models/UserAuthorization.php
src/Models/Widget.php
src/Observers/AffiliateObserver.php
src/Observers/AuthorizationObserver.php
src/Observers/CategoryObserver.php
src/Observers/ClientObserver.php
src/Observers/CountryObserver.php
src/Observers/GroupObserver.php
src/Observers/LocaleObserver.php
src/Observers/OpenAIPromptObserver.php
src/Observers/QuestionnaireObserver.php
src/Observers/QuestionObserver.php
src/Observers/QuestionWidgetConditionalObserver.php
src/Observers/QuestionWidgetObserver.php
src/Observers/ResponseObserver.php
src/Observers/TagObserver.php
src/Observers/UserObserver.php
src/Observers/WidgetObserver.php
